<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BongoPawClicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <BongoPawClicker.Properties.Settings>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Topmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Meow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKey" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="Modifiers" serializeAs="String">
                <value>Control,Alt</value>
            </setting>
            <setting name="ClickType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomDelayEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClickIntervalMins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClickIntervalSecs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClickIntervalms" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="RandomDelaySecs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomDelayms" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomAreaEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomAreaWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomAreaHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InfinityClickEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClickTimes" serializeAs="String">
                <value>0</value>
            </setting>
        </BongoPawClicker.Properties.Settings>
    </userSettings>
</configuration>